*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  box-sizing: border-box;
}
.header {
  height: 70vh;
  /* background: linear-gradient(to right, #b3ffab, #12fff7); */
  background: linear-gradient(to right, #b993d6, #8ca6db);
  /* background: linear-gradient(to right, #00d2ff, #3a7bd5); */
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 53vh, 0 65vh);
}

.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__logo {
  height: 3.5rem;
}

header ul {
  list-style: none;
  padding: 30px 3em 0 0;
  text-align: end;
}
header li {
  display: inline-block;
  padding: 0 0 0 3em;
}

header a {
  text-decoration: none;
  color: rgb(9, 17, 129);
}

header a:hover {
  color: white;
}

.header__logo {
  height: 3.5rem;
  padding: 0.1rem 0 0 2rem;
}

.header__logo a {
  font-size: 5rem;
}
.logo:hover {
  animation: moveInRight 1s ease-out;
}

.about__text-box {
  position: absolute;
  top: 25%;
  left: 35%;
  text-align: center;
}

.about__primary-heading {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-family: "Anton", sans-serif;
}
.about__primary-heading--main {
  font-family: "Playfair Display", serif;
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1rem;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffffff;
}

.container:hover .overlay {
  opacity: 0.4;
}

.text {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.about-me {
  padding: 5em 0;
  overflow: auto;
}

.about-me h1 {
  text-transform: uppercase;
  color: #18ba60;
  padding-bottom: 2rem;
}

.content-wrap {
  width: 90%;
  margin: 0 auto;
}

.col-narrow {
  float: left;
  overflow: hidden;
  margin-top: 2em;
  clear: both;
  text-align: left;
}

.col-narrow h2,
h3,
p {
  margin: 5px 0;
}

.col-wide {
  width: 70%;
  float: right;
  text-align: left;
  overflow: hidden;
  margin-top: 2em;
}

.social-icons {
  list-style: none;
}

.social-icons ul {
  align-items: center;
}

.social-icons li {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

.social-icons a {
  border-radius: 50%;
  border: 1px solid #444444;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #444444;
  transition: all 0.2s ease-in;
}

.social-icons a:hover {
  color: #18ba60;
  border: 1px solid #18ba60;
}
.resume__text-box {
  text-align: center;
  background: rgb(233, 233, 233);
  padding: 6rem;
}

.resume__text-box--heading {
  font-family: "Playfair Display", serif;
  color: rgb(78, 76, 76);
}

.resume__primary-heading--main {
  display: block;
  padding-top: 3rem;
  font-size: 4rem;
  font-weight: 500;
}

.resume__primary-heading--sub {
  display: block;
  font-size: 2rem;
  font-weight: 200;
  left: 35%;
  padding: 3rem 30rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn:hover {
  background: rgb(77, 72, 72);
  color: #ffffff;
}

.footer {
  padding-top: 2rem;
  text-align: center;
}
