*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  box-sizing: border-box;
}
.header {
  height: 30vh;
  background: linear-gradient(to right, #dad299, #b0dab9);
  background: linear-gradient(to right, #b993d6, #8ca6db);
  /* background: linear-gradient(to right, #00d2ff, #3a7bd5); */
  background-size: cover;
  background-position: top;
}

.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__logo {
  height: 3.5rem;
}

header ul {
  list-style: none;
  padding: 30px 3em 0 0;
  text-align: end;
}
header li {
  display: inline-block;
  padding: 0 0 0 3em;
}

header a {
  text-decoration: none;
  color: rgb(9, 17, 129);
}

header a:hover {
  color: white;
}

.header__logo {
  height: 3.5rem;
  padding: 0.1rem 0 0 2rem;
}

.header__logo a {
  font-size: 5rem;
}
.logo:hover {
  animation: moveInRight 1s ease-out;
}

.blog__text-box {
  position: absolute;
  top: 20%;
  left: 45%;
  text-align: center;
}

.blog__primary-heading {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-family: "Anton", sans-serif;
}
.blog__primary-heading--main {
  font-family: "Indie Flower", cursive;
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.columns {
  padding-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

.column {
  flex: 1;
  border: 1px solid gray;
  margin: 2px;
  padding: 10px;
}
.column:first-child {
  margin-left: 0;
}
.column:last-child {
  margin-right: 0;
}

.footer {
  padding-top: 2rem;
  text-align: center;
}
@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
