*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  box-sizing: border-box;
}
.header {
  height: 70vh;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  /* background: linear-gradient(to right, #b993d6, #8ca6db); */
  /* background: linear-gradient(to right, #00d2ff, #3a7bd5); */
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 53vh, 0 65vh);
}

.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__logo {
  height: 3.5rem;
}

header ul {
  list-style: none;
  padding: 30px 3em 0 0;
  text-align: end;
}
header li {
  display: inline-block;
  padding: 0 0 0 3em;
}

header a {
  text-decoration: none;
  color: rgb(9, 17, 129);
}

header a:hover {
  color: white;
}

.header__logo {
  height: 3.5rem;
  padding: 0.1rem 0 0 2rem;
}

.header__logo a {
  font-size: 5rem;
}
.logo:hover {
  animation: moveInRight 1s ease-out;
}

.resume__text-box {
  position: absolute;
  top: 25%;
  left: 35%;
  text-align: center;
}

.resume__primary-heading {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-family: "Pacifico", cursive;
}
.resume__primary-heading--main {
  display: block;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: blue;
}

.form {
  background: #307db1;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  font-family: "Pacifico", cursive;
  padding: 3rem;
}

.form label,
.form input,
.form select {
  display: block;
  margin-top: 1rem;
  width: 70%;
}

.form label {
  font-size: 3rem;
  padding: 2rem 6rem;
}
.form input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form textarea {
  padding: 12rem 20rem;
  widows: 70%;
}

.message__button {
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  border-color: rgb(25, 150, 108);
  font-family: "Pacifico", cursive;
}

.message__button:hover {
  background: green;
  color: wheat;
}

.footer {
  padding-top: 2rem;
  text-align: center;
}
