*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  /* background: linear-gradient(to right, #b3ffab, #12fff7); */
  /* background: linear-gradient(to right, #b993d6, #8ca6db); */
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__logo {
  height: 3.5rem;
}
header ul {
  list-style: none;
  padding: 30px 3em 0 0;
  text-align: end;
}
header li {
  display: inline-block;
  padding: 0 0 0 3em;
}

header a {
  text-decoration: none;
  color: rgb(9, 17, 129);
}

header a:hover {
  color: white;
}

.header__logo {
  height: 3.5rem;
  padding: 0.1rem 0 0 2rem;
}

.header__logo a {
  font-size: 5rem;
}
.logo:hover {
  animation: moveInRight 1s ease-out;
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 35%;
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1.3rem;
}

.heading-primary--sub {
  padding-top: 2rem;
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1rem;
}
.user {
  font-size: 13px;
  margin: 48px 0;
}

/* .user__list {
  width: 80%;
  margin: auto;
} */

.user:first-of-type {
  margin-top: 96px;
}

.user__image-container {
  width: 65%;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.user__image {
  width: 100%;
  vertical-align: top;
}

.user__info {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  padding: 14px;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

#image-2.image {
  text-align: right;
}

#image-2 .user__info {
  text-align: left;
}

.user__heading {
  margin: 3px;
  color: #2f98d4;
}

.user__text {
  margin: 3px;
}

.footer {
  padding-top: 4rem;
  text-align: center;
}
