*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  box-sizing: border-box;
}
.header {
  height: 70vh;
  background: linear-gradient(to right, #360033, #0b8793);
  /* background: linear-gradient(to right, #b993d6, #8ca6db); */
  /* background: linear-gradient(to right, #00d2ff, #3a7bd5); */
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__logo {
  height: 3.5rem;
}

header ul {
  list-style: none;
  padding: 30px 3em 0 0;
  text-align: end;
}
header li {
  display: inline-block;
  padding: 0 0 0 3em;
}

header a {
  text-decoration: none;
  color: rgb(9, 17, 129);
}

header a:hover {
  color: white;
}

.header__logo {
  height: 3.5rem;
  padding: 0.1rem 0 0 2rem;
}

.header__logo a {
  font-size: 5rem;
}
.logo:hover {
  animation: moveInRight 1s ease-out;
}

.resume__text-box {
  position: absolute;
  top: 30%;
  left: 35%;
  text-align: center;
}

.resume__primary-heading {
  color: #ffffff;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-family: "Gloria Hallelujah", cursive;
}
.resume__primary-heading--main {
  text-transform: uppercase;
  display: block;
  font-size: 5rem;
  font-weight: 400;
}

.resume__primary-heading--sub {
  display: block;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  display: inline-block;
  transition: all 0.2s;
  border-color: black;
  position: relative;
}

.btn-download {
  background-color: #ffffff;
  color: #777;
}
.btn-download:hover {
  background-color: rgb(42, 57, 105);
  color: black;
}

.resume {
  background: rgb(233, 233, 233);
  padding: 5rem 2rem;
}

.resume__list-heading {
  padding-top: 2rem;
  color: black;
}

.resume__list-content {
  padding: 2rem 3rem;
}
.footer {
  padding-top: 2rem;
  text-align: center;
}
/* 
.qualification {
  background: rgb(233, 233, 233);
  padding-bottom: 6rem;
  padding: 3rem;
}

.qualification h1 {
  color: black;
}

.qualification li {
  text-align: center;
  list-style: none;
  padding-left: 20px;
} */
